@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  @apply text-main;
}

button {
  @apply bg-main px-3 py-2 rounded-lg text-white;
}

.links ul li>*:hover{
    @apply text-main;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #0ee30e;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 